body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #0e1015;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
    color: white;
}
a:visited{
    color: indianred;
}

a:hover {
    color: red;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #201c24;
    border-radius: 5px;
    padding: 10px;
    color: white;

}

#button-search-navbar {
    height: min-content;
}

#container-logo-buttons {
    display: flex;
    flex-direction: row;

}

#container-search-card-bar {
    display: flex;
    flex-direction: row;
}

#input-name-search {
    width: 200px;
    background-color: #282c34;
    text-decoration: none;
    border-radius: 4px;
    padding: 4px;

    border-color: dimgray;
    border-width: thin;
    border-style: dot-dot-dash;
    color: dimgray;

}

#search-card-bar {
    width: 250px;
    height: 15px;
    background-color: #282c34;
}

#main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#main-container-searcher {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: auto;
    background-color: #201c24;
    border-radius: 4px;
    padding: 4px;
}

#container-button-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

#button-search-formulary {
    width: 100px;
    background-color: orange;
}

#selector {
    background-color: #282c34;
    text-decoration: none;
    border-radius: 4px;
    padding: 4px;

    border-color: dimgray;
    border-width: thin;
    border-style: dot-dot-dash;
    color: dimgray;
}

#container-atk-def {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.atk-def {
    width: 50px;
    background-color: #282c34;
    text-decoration: none;
    border-radius: 4px;
    padding: 4px;

    border-color: dimgray;
    border-width: thin;
    border-style: dot-dot-dash;
    color: dimgray;
}

.text-labels {
    color: dimgray;
    margin-bottom: -1px;
}

#main-page {
    display: flex;
    flex-direction: column;
    background-color: #0e1015;

}

#logo {
    width: 125px;
    padding: 5px;
}


.links {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;

    text-decoration: none;
    border-radius: 4px;
    background: #282c34;
    padding: 4px;

    border-color: dimgray;
    border-width: thin;
    border-style: dot-dot-dash;
    color: dimgray;
    transition: background-color .5s;

}

input:hover {
    background-color: indianred;
    transition: background-color 1s, color 1s;
    color: white;

}

button:hover {
    background-color: indianred;
    transition: background-color 1s, color 1s;
    color: white;

}

.links:visited {
    color: white;
}

#main-container-searcher {
    display: flex;
    flex-direction: row;
    align-self: center;

    margin-top: 20px;
    margin-left: 20px;
}

#container-card-name {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #282c34;
    border-radius: 25px;
    width: 300px;
    height: 200px;
}

#container-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#card-image-yu-gi-oh {
    width: 200px;
}

#input-card-name {
    border-radius: 25px;
}

#introduce-card-p {
    font-size: x-small;
    font-family: Verdana, Tahoma, serif;
    color: darkgray;
    margin-bottom: -0.2px;
}

#formulary-elements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#main-container-search-results {
    width: 1000px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#result-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #201c24;
    width: auto;
}

#result-data-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 40px;
    background-color: #201c24;
    width: 40%;
    height: auto;
    border-radius: 4px;
    color: white;
}

#image-card {
    width: 250px;
}

#attribute-image {
    width: 25px;
}

#description-card {
    width: 80%;
    background-color: #282c34;
    border-radius: 4px;
}

#lvl-atr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

#levels {
    width: 25px;
}

#stars {
    margin-right: 20px;
}

#result-data {
    display: flex;
    flex-direction: column;

    align-items: center;
}

#race-img {
    width: 25px;
    margin-left: 20px;
}

#name-result-card {
    margin-bottom: -1px;
}

#atk-def-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#card-sets-results{
    display: flex;
    flex-direction: column;
    align-self: center;

    align-items: center;
    margin-top: 20px;
    background-color: #201c24;
    width: 30%;
    height: auto;
    border-radius: 4px;
    color: white;
    font-size: small;
}

#card-prices-results{
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    align-items: center;
    margin-top: 20px;
    background-color: #201c24;
    width: 20%;
    height: auto;
    border-radius: 4px;
    color: white;
    font-size: medium;
    margin-left: -220px;
}

#card-sets-prices-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}


#card-liked{
    margin-top: 10px;
    margin-bottom: 20px;

    text-decoration: none;
    border-radius: 4px;
    background: #282c34;

    border-color: mediumvioletred;
    border-width: thin;
    border-style: dot-dot-dash;
    color: dimgray;
    transition: background-color .5s;

}


